*{
    padding: 0%;
    margin: 0%;
    font-family: Arial;
}
header {
    text-align: center;
    padding: 15px;
    background-color: blue;
    
}

header h1{
    font-size: x-large;
    color:white;
}

footer{
    background-color:rgb(0, 110, 255);
    color:white;
    height:100px;
    padding: 15px;
}
    footer img{
        width: 5%;
        height: auto;
       
}

main{
background-color:#ccc;
height:500px;

}